<h1>Publier un post</h1>
<div class="row">
    <div class="col-12">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="form-group">
                <label for="title">
                    Titre du post
                </label>
                <input type="text" id="title" class="form-control" name="title" ngModel required>
            </div>
            <div class="form-group">
                <label for="content">Contenu du post</label>
                <textarea class="form-control" id="content" rows="3" name="content" ngModel required></textarea>
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Publier</button>
        </form>
    </div>
</div>