<li
    [ngClass]="{'list-group-item': true, 'list-group-item-success': loveIts > 0, 'list-group-item-danger': loveIts < 0}">
    <div class="title">
        <h2>{{ title }}</h2>
        <h4>{{ created_at | date: 'd/MM/y, hh:mm a' }}</h4>
    </div>
    <p>{{ content }}</p>
    <div class="title">
        <div>
            <button type="button" class="btn btn-success" (click)="onUpvote()">Love it!</button>
            <button type="button" class="btn btn-danger" (click)="onDownvote()">Don't love it!</button>
        </div>
        Score : {{ loveIts }}
        <button type="button" class="btn btn-danger" (click)="onDeletePost()">Supprimer post</button>
    </div>
</li>