h2 {
    font-weight: bold;
}

h4 {
    color: grey;
    font-style: oblique;
}

button {
    margin-right: 5px; 
}

.btn-light {
    background-color: white;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}