<h1>Posts</h1>
<ul class="list-group">
    <app-post-list-item *ngFor="let posts of postList; let i = index" [title]="posts.title" [content]="posts.content"
        [created_at]="posts.created_at" [loveIts]="posts.loveIts" [id]="i"></app-post-list-item>
</ul>